{% extends 'base.html.twig' %}

{% block title %}Edit Avis{% endblock %}

{% block body %}
    <h1>Edit Avis</h1>

    {{ include('avis_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avis_crud_index') }}">back to list</a>

    {{ include('avis_crud/_delete_form.html.twig') }}
{% endblock %}
