{% extends 'base.html.twig' %}

{% block title %}New AvisClients{% endblock %}

{% block body %}
    <h1>Create new AvisClients</h1>

    {{ include('avis_clients/_form.html.twig') }}

    <a href="{{ path('app_avis_clients_index') }}">back to list</a>
{% endblock %}
