*,
html,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type:none;
  
}

.navbar{
  padding-left: 1%;
  padding-right: 1%;
  background-color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color: unset;
}

.p-5 {
  padding: 1rem !important;
}

body{
  background-image: url(../images/1200-L-logo-voiture-que-signifient-ces-symboles-automobiles.jpg);
}

.one{

    display: flex;
    align-items: center;
    height: max-content;
    min-height: 100vh;
}

.one .container-fluid {

  background: linear-gradient(45deg, #676262, #676262);
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


.oneTwo{
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-left: 25%;*/
    
}
.politique{
    display: block !important; 
    margin: 3%;
}
.two{
  align-items: center;
  width: 50%;
    
}

form {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 44%;
  /*background: linear-gradient(45deg, #676262, transparent);*/
}

.avis{
display: flex;
justify-content: center;
}

.avis.div{
  justify-content: center;
}
.form-avis{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
    border-radius: 10px;
    border-color: unset;
    line-height: 1.5;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.bntRegister{

  margin-bottom: 5%;
}

.button{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}


h1{
  text-align :center;
  color: aliceblue;
  font-weight: bold;
  font-size: 6rem;
}

main{

  height: max-content !important;
}
/* =========================================================================
  BANNIÈRE
   ========================================================================= */
  
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/audi-car1.jpg');
  width: 100%;
  min-height: 36rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 37rem;
}



.form-control{
  width: 50% !important;
  display: flex !important;
  justify-content: center !important;

}

ul{
  padding: 0 !important;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.title {
  position: absolute;
 display: flex;
 flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  margin-top: 6%;
}



/* =========================================================================
  RENDEZ VOUS
   ========================================================================= */

.fonctionnalities-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/*Css Button Container*/
.containerBnt {

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2%;

}

.containerBnt :hover {

  color: black;
}
.textCenter{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80%;
}



/*modal*/






@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }

  .d-flex{
    display: flex;
    flex-direction: column;
  }


  .fonctionnalities-container{
    display: flex;
    flex-direction: column;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    width: 100%;
}


  }



@media (max-width: 768px) {
  .banner {
    min-height: 20rem;
  }

}

@media (max-width: 425px) {
  .banner {
    min-height: 15rem;
  }
}

@media (max-width: 375px) {
  .banner {
    min-height: 10rem;
  }
}
