*,
html,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type:none;
}


a{
  text-decoration: none;
  color: unset;
}

h1{
  text-align :center;
  color: aliceblue;
  font-weight: bold;
}

/* =========================================================================
  BANNIÈRE
   ========================================================================= */
  
.banner{
  position: relative;
  background-image: url('../images/audi-car1.jpg');
  width: 100%;
  min-height: 40rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}





ul{
  padding: 0 !important;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}










@media (max-width: 768px) {
  .banner {
    min-height: 20rem;
  }
}

@media (max-width: 425px) {
  .banner {
    min-height: 15rem;
  }
}

@media (max-width: 375px) {
  .banner {
    min-height: 10rem;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}



/* =========================================================================
  RENDEZ VOUS
   ========================================================================= */

.fonctionnalities-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/*Css Button Container*/
.containerBnt {

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2%;

}

.containerBnt :hover {

  color: black;
}