{% extends 'base.html.twig' %}

{% block title %} Mentions Légales{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<section class="politique">
<div class="example-wrapper">
    <h1 style= " color: black ">Politique de confidentialité</h1>

    
 Le site internet <em>Garaga Galaxy</em> est édité par la société <em>Garaga Galaxy</em>, dont le siège social est situé au 12 rue de la Pizzeria, 75000 Paris.
        </p>
        <p>
          Le directeur de la publication est Jonathan Colin.
        </p>
        <p>
          L'hébergeur du site est la société <em>O2switch</em>, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix.
        </p>
        <p>
          Le site internet <em>Garaga Galaxy</em> utilise des cookies pour améliorer l'expérience des utilisateurs. Vous pouvez en savoir plus sur notre politique de confidentialité.
        </p>
    
        </div>


    

   

     <section class="confident" id="confident">
      <hr>
        <h2>Politique de confidentialité</h2>
    
        <p>
          Les données personnelles collectées sur le site internet <em>Garaga Galaxy</em> sont traitées par la société <em>Garaga Galaxy</em>.
        </p>
        <p>
          Les données collectées sont utilisées pour :
          <ul>
            <li>Gérer les commandes et les livraisons</li>
            <li>Envoyer des informations commerciales</li>
            <li>Améliorer l'expérience des utilisateurs</li>
          </ul>
        </p>
        <p>
          Les données personnelles sont conservées pendant une durée de 3 ans à compter de la dernière interaction avec le site internet.
        </p>
        <p>
          Vous disposez des droits suivants sur vos données personnelles :
          <ul>
            <li>Droit d'accès</li>
            <li>Droit de rectification</li>
            <li>Droit à l'effacement</li>
            <li>Droit à la limitation du traitement</li>
            <li>Droit à la portabilité des données</li>
            <li>Droit d'opposition</li>
          </ul>
        </p>
        <p>
          Pour exercer vos droits, vous pouvez contacter la société <em>Garage Galaxy</em> par email à l'adresse <em>contact@GarageGalaxy.fr</em>.
        </p>
        <hr>
    </section>
 

    <section class="confidentialité">
     
        <h2>Responsabilités</h2>

<p>
  La société <em>garaga Galaxy</em> s'engage à fournir des informations fiables et à jour sur son site internet. Toutefois, il est possible que des erreurs ou des omissions se produisent. En cas de constatation d'une erreur ou d'une omission, veuillez nous en informer afin que nous puissions la corriger.
</p>

<p>
  La société <em>Garage Galaxy</em> ne saurait être tenue responsable des dommages directs ou indirects qui pourraient résulter de l'utilisation de son site internet.
</p>

<p>
  La société <em>Garage Galaxy</em> ne saurait être tenue responsable du contenu des sites internet tiers auxquels son site internet renvoie.
</p>

    </section>
   
    <section class="confidentialité">
      <hr>

      <div class="article">

        <h2>Droits des utilisateurs</h2>
        <p>
          Les utilisateurs ont le droit d'accéder aux données personnelles qui les concernent. Ils peuvent en demander une copie à tout moment.
        </p>
        <p>
          Les utilisateurs ont le droit de rectifier les données personnelles qui les concernent si elles sont inexactes ou incomplètes.
        </p>
        <p>
          Les utilisateurs ont le droit d'effacer leurs données personnelles, dans certains cas, tels que si les données ne sont plus nécessaires pour les finalités pour lesquelles elles ont été collectées ou si l'utilisateur a retiré son consentement.
        </p>
        <p>
          Les utilisateurs ont le droit de demander la limitation du traitement de leurs données personnelles, dans certains cas, tels que si l'utilisateur conteste l'exactitude des données ou s'oppose à leur traitement.
        </p>
        <p>
          Les utilisateurs ont le droit de recevoir les données personnelles qu'ils ont fournies à un responsable du traitement dans un format structuré, couramment utilisé et lisible par machine. Ils ont également le droit de transmettre ces données à un autre responsable du traitement.
        </p>
        <p>
          Les utilisateurs ont le droit de s'opposer au traitement de leurs données personnelles, dans certains cas, tels que si le traitement est basé sur l'intérêt légitime du responsable du traitement.
        </p>
      </div>
  
      <div class="article">
        <hr>
        <h2>Sécurité des données</h2>
        <p>
          La société <em>Garaga Galaxy</em> s'engage à protéger les données personnelles des utilisateurs. Elle prend toutes les mesures de sécurité nécessaires pour empêcher l'accès non autorisé aux données ou leur divulgation.
        </p>
        <p>
          La société <em>Garaga Galaxy</em> utilise des méthodes de cryptage pour protéger les données personnelles lors de leur transmission sur son site internet.
        </p>
        <p>
          La société <em>Garaga Galaxy</em> dispose d'une politique de sécurité des données qui définit les mesures de sécurité mises en place pour protéger les données personnelles.
        </p>
      </div>
      <hr>
      <div class="article">
        <h2>Transferts internationaux de données</h2>
        <p>
          La société <em>Garaga Galaxy</em> peut transférer des données personnelles vers des pays situés en dehors de l'Union européenne. Dans ce cas, elle s'engage à prendre toutes les mesures nécessaires pour garantir un niveau de protection adéquat des données personnelles.
        </p>
        <p>
          La société <em>Garaga Galaxy</em> peut transférer des données personnelles vers des pays situés en dehors de l'Union européenne uniquement si le pays de destination offre un niveau de protection adéquat des données personnelles.
        </p>
      </div>
      <div> 
        <p>
          Le site internet <em>Garage Galaxy</em> est édité par la société <em>Garaga Galaxy</em>, dont le siège social est situé au 12 rue de la Pizzeria, 75000 Paris.
        </p>
        <p>
          Le directeur de la publication est Garage Galaxy.
        </p>
        <p>
          L'hébergeur du site est la société <em>O2SWITSH</em>, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix.
        </p>
        <p>
          Le site internet <em>Garaga Galaxy</em> utilise des cookies pour améliorer l'expérience des utilisateurs. Vous pouvez en savoir plus sur notre politique de confidentialité.
        </p>
    
        <hr>
    
        <h2>Responsabilités</h2>
    
        <p>
          La société <em>Garaga Galaxy</em> s'engage à fournir des informations fiables et à jour sur son site internet. Toutefois, il est possible que des erreurs ou des omissions se produisent. En cas de constatation d'une erreur ou d'une omission, veuillez nous en informer afin que nous puissions la corriger dans les meilleurs délais.
        </p>
    
        <p>
          La société <em>Garage Galaxy</em> ne saurait être tenue responsable des dommages directs ou indirects qui pourraient résulter de l'utilisation de son site internet, y compris, mais sans s'y limiter, les dommages causés par l'infection par un virus ou par un autre programme malveillant, la perte de données ou l'interruption d'activité.
        </p>
    
        <p>
          La société <em>Garaga Galaxy</em> ne saurait être tenue responsable du contenu des sites internet tiers auxquels son site internet renvoie. Les utilisateurs sont invités à prendre connaissance des mentions légales de ces sites internet avant de les utiliser.
        </p>
    
        <hr>
    
        <h2>Droit d'auteur</h2>
    
        <p>
          L'ensemble du contenu du site internet <em>Garaga Galaxy</em>, incluant les textes, les images, les vidéos et les logos, est protégé par le droit d'auteur. Toute reproduction, modification ou utilisation de ce contenu sans l'autorisation écrite de la société <em>Garage Galaxy</em> est strictement interdite.
        </p>
    
        <hr>
    
        <h2>Litiges<h2>
        <p>
        Tout litige relatif à l'utilisation du site internet <em>Garaga Galaxy</em> sera soumis à la loi française. La compétence juridictionnelle est attribuée aux tribunaux de Paris.
        </p>

</div>
 </section>
{% endblock %}

